.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.flex{
 display: flex;
 flex-wrap: wrap;
}

.productitem{
   padding: 10px;
}

.productitem img{
  height: 300px;
  /* width: 250px; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.productitem .desc{
  font-size: 10px;
}

.productitem .title{
   font-size: 15px;
}

.productitem Button{
   margin: 10px 0 0 0;
}

.cart{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cart .card{
   display: flex;
   justify-content: space-between ;
}

.cart .card img{
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cart h3{
  vertical-align: middle !important;
}


.cart .card .col-md-2{
  display: flex;
    align-items: center;
    justify-content: center;
}

.cart .card .col-md-2 p{
  margin: auto 10px;
}